header {
  background-color: #E6E6E6;
}

h1 {
  font-family: Helvetica, serif;
  text-align: center;
}

.about {
  border: 1px solid black;
}
.reviews{
  border: 1px solid black;
}
.price1{
  border: 1px solid black;
}
.price2{
  border: 1px solid black;
}
.price3{
  border: 1px solid black;
}

nav {
  font-family: Helvetica, serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #1ca1df;
}

main {
  background-color: #E6E6E6;
  font-family: Helvetica, serif;
  text-align: center;
}

section {
  background-color: #E6E6E6;
  text-align: center;
}

form {
  background-color: #E6E6E6;
  text-align: center;
}

footer{
  background-color: #e6e6e6;
  font-family: Helvetica, serif;
  text-align: center;
}
