body{
  background-image: url('background.png');
  font-family: Helvetica;
  font-size: 14px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.head{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #383736;
  grid-gap: 20px;
  gap: 20px;
	top: 0;
	left: 0;
  z-index: 3;
}
header h1{
  font-size: 2rem;
  box-sizing: border-box;
}

.logo{
  top: 0;
  bottom: auto;
  max-width: 300px;
  padding-top: 7.5px;
  padding-left: 50px
}

.navi{
  width: 100%;
	padding: 0 15px 0px 0;
}

.navi li {
  float: left; /* makes list horizontal*/
	list-style-type: none;
	margin: 0 0 5px 5px; /* separates 'buttons'*/
	padding-top: 10px;
  padding-right: 20px;
  box-sizing: border-box;
}
.navi a {
  color: #e6eef7;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  box-sizing: border-box;
}

.navi a:hover{
  color: #1ca1df;
  box-sizing: border-box;
}

nav{
    padding: 0px 0px;
    box-sizing: border-box;
}

#feedback {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  gap: 20px;
  text-align: center;
  padding: 0 4rem 0 4rem;
}

.main{
  margin: 10px 0px 10px 0px;
  padding-left: 10px;
  text-align: center;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  gap: 20px;
  text-align: center;
  padding: 0 2rem 0 2rem;
}

.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  gap: 20px;
  text-align: center;
  padding: 0 2rem 0 2rem;
}

#footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: #202729;
  padding: 0;
  margin: 0;
}

#copyright {
  display: grid;
  grid-template-columns: 1fr;
  background: #202729;
  padding: 0;
  margin: 0;
}

footer h2 {
  font-size: 1rem;
  box-sizing: border-box;
}

footer p {
  text-align: center;
  color: #fff;
  font-size: 1rem;
  box-sizing: border-box;
}

footer div {
  text-align: center;
  color: #fff;
  font-size: 1rem;
  box-sizing: border-box;
}

footer ul{
  list-style-type: none;
  padding-left: 40px;
  text-align: left;
  box-sizing: border-box;
}

footer a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  box-sizing: border-box;
}

footer a:hover{
  color: #1ca1df;
  box-sizing: border-box;
}

.respon{
  width: 100%;
  height: auto;
}
